
.active {
    text-decoration: none;
    background-color: #66afe9;
}

.row-gutter {
    margin-left: 1.5em;
    margin-right: 1.5em;
}

#main.container{
    background: #000000 url('/Images/TeamImages/CompPhoto1.JPG');
}

.body {
    location: relative;
    margin:0 auto;
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #ffffff;
}

.body-whitebg {
    loacation: relative;
    margin:0 auto;
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #262626;
}

.index-bg {
    background: url("/Images/TeamImages/CompPhoto1.JPG");
}

p {
    font-size: 16px;
}

.margin {
    margin-bottom: 45px;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    boarder-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}


